<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
            text-align: center;
            color: #1803d7;
            
        }
    </style>
</head>
<body>
    
    <h1>Welcome to my database page</h1>
    <a href = "createtable">Click here</a> to create table for firsttime<br/><br/>
    <a href = "insert">Click Here</a> to add record into db<br/><br/>
    <a href = "getdata">Click here</a> to get data from db<br/><br/>
    <b>{{response}}</b>
    
</body>
</html>